server:
  port: 8080

spring:
  datasource:
    type: com.alibaba.druid.pool.DruidDataSource
    druid:
      driver-class-name: com.mysql.cj.jdbc.Driver
      max-active: 20
      max-wait: 6000
      min-idle: 1
      test-on-borrow: true
      test-on-return: true
      username: root
      password: root
      url: jdbc:mysql://localhost:3308/shopping?characterEncoding=utf8&serverTimezone=Asia/Shanghai



mybatis:
  mapper-locations: classpath*:mappers/*Mapper.xml
  config-location: classpath:mybatis-cofig.xml

#分页插件配置
pagehelper:
  auto-dialect: maysql
  reasonable: true
  support-methods-arguments: true
  params: countSql
